doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    script(type)

    style.
      h1 {
        color: red
      }

      p {
        font-size: 18px
      }
  body 
    h1 Fotgot your password?
    p We received a forgotten password request from you. Use the link below to create a new password. Valid for 5 minutes
    a(class='button', href=`${data.url}`) Click here to create new password