doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    script(type)

    style.
      h1 {
        color: red
      }

      p {
        font-size: 18px
      }
  body 
    h1 Welcome #{data.fullname}
    p Welcome to techblog community
    a(class='button', href=`${data.url}`) Click here to activate account